---
import Base from "../layouts/Base.astro"
import WorkGrid from "../components/WorkGrid.astro"
import ParticleField from "../components/ParticleField.astro"
---

<Base title="HWANYUN">
  <nav slot="menu"></nav>
  <ParticleField />
  <WorkGrid current="works" />
</Base>
